h1.on {
  color: #f00;
}

h2.on {
  color: #f00;
}

.GNB {
  border-top: 5px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.GNB>ul {
  display: flex;
  justify-content: space-between;
  line-height: 50px;
}

.GNB>ul a {
  display: block;
}

.GNB>ul>li {
  position: relative;
}

.GNB li .smenu {
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  background: #f7f7f7;
  width: 150px;
  text-align: center;
  border: 4px solid #369;
  line-height: 35px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 999;
}

.GNB li:hover .smenu {
  top: 40px;
  opacity: 1;
  visibility: visible;
}

.GNB .smenu>li~li {
  border-top: 1px solid #ddd;
}

.users {
  display: flex;
  flex-flow: row wrap;
  gap: 30px;
  width: 1200px;
  margin: 0 auto;
}

.users>li {
  flex: 1;
  min-width: 100px;
  max-width: 100px;
  text-align: center;
}

.users>li img {
  max-width: 100%;
  border-radius: 50%;
}

.MainVisual {
  position: relative;
}

.main_slider figure {
  position: relative;
  height: 900px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.main_slider figure .inner {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 0 0 3px #000;
  color: #fff;
  width: 1200px;
}

.main_slider .itm01 {
  background-image: url(../public/assets/main_visual01.jpg);
}

.main_slider .itm02 {
  background-image: url(../public/assets/main_visual02.jpg);
}

.main_slider .itm03 {
  background-image: url(../public/assets/main_visual03.jpg);
}

.main_slider figure h2 {
  font-size: 50px;
  font-weight: 900;
  margin: 0 0 20px 0;
  transform: translateY(100px);
  opacity: 0;
}

.main_slider figure.on h2 {
  transform: translateY(0);
  opacity: 1;
  transition: 0.5s;
}

.main_slider figure span {
  display: block;
  margin: 10px 0;
}

.main_slider figure p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.45;
  margin: 0 0 50px 0;
  transform: translateY(100px);
  opacity: 0;
}

.main_slider figure.on p {
  transform: translateY(0);
  opacity: 1;
  transition: 0.5s 0.5s;
}

.main_slider figure a {
  display: inline-block;
  padding: 10px 25px;
  border: 1px solid #f9f9f9;
  color: #f9f9f9;
  font-size: 13px;
  transform: translateY(100px);
  opacity: 0;
}

.main_slider figure.on a {
  transform: translateY(0);
  opacity: 1;
  transition: 0.5s 1s;
}

.MainVisual .slide_handler button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  font-size: 0;
}

.MainVisual .slide_handler button::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  border-top: 1px solid #f9f9f9;

}

.MainVisual .slide_handler button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 60px;
  height: 0;
  border-top: 1px solid #f9f9f9;
}

.MainVisual .slide_handler button:first-child::after {
  left: 0;
  transform: rotate(-45deg);
  transform-origin: left top;
}

.MainVisual .slide_handler button:last-child::after {
  right: 0;
  transform: rotate(45deg);
  transform-origin: right top;
}

.MainVisual .slide_handler button:first-child {
  margin: 0 0 0 -800px;
}

.MainVisual .slide_handler button:last-child {
  margin: 0 0 0 800px;
}

.MainVisual .num {
  position: absolute;
  bottom: 250px;
  left: 50%;
  margin: 0 0 0 -600px;
  color: #fff;
  font-size: 35px;
}

.MainVisual .num span {
  font-size: 20px;
  color: #ddd;
}

.MainVisual .slide_dots {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 0 0 600px;
  transform: translate(-100%, -50%);
  color: #f9f9f9;
  font-size: 18px;
  font-weight: 300;
  text-align: right;
}

.MainVisual .slide_dots li {
  margin: 0 0 10px 0;
  cursor: pointer;
}

.MainVisual .slide_dots li span {
  font-size: 0;
}

.MainVisual .slide_dots li.on span {
  font-size: 18px;
}

.MainVisual .slide_dots li::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin: 0 0 0 15px;
  vertical-align: -0.2em;
}

.MainVisual .slide_dots li.on::after {
  background: #fff;
}